header {
    background-image: url("img/pattern.png");
    background-repeat: repeat;
    background-color: rgb(77, 129, 224);
    
}

#logo {
    width: 250px;
    padding-top: 80px;
}


h1 {
    margin-bottom: 0%;
}


#sottotitolo_grigio {
    color: gray;
}


#sottotitolo_blue {
    color: lightblue;
}


#data {
    color: gray;
    font-size: 10px;
}


.sottotesto_immagini {
    font-size: 10px;
}


.yellow_text {
    background-color: yellow;
}


#tabella {
   border-collapse: collapse;
}


#titolo_tabella {
    background-color: rgb(59, 106, 236);
}


.azzurro_tabella {
    background-color: lightblue;
}


#grey_text {
    color: gray;
}


#images1 {
    color: white;
    padding-top: 20px;
    background-image: url(img/monitor.jpg);
    height: 200px;
    width: 300px;
}


#images2 {
    color: white;
    padding-top: 20px;
    background-image: url(img/graph.jpg);
    height: 200px;
    width: 300px;
}

.margin_paragraph {
    margin-bottom: 35px;
}